{% extends "layout/main.html" %}
{% block title %} List Booklet {% endblock %}

{% block body %}
<h1> List all Booklets </h1>

{% if request.user.is_authenticated %}
<h3>Welcome {{ request.user }}</h3>
{% endif %}

<br>
<a href="{% url 'create' %}"> Create Booklet </a>

{% for booklet in booklets %}
   <h2>{{ booklet.title }}</h2>
   <p>{{ booklet.content }}</p>
   <a href="{% url 'edit' booklet.id %}"> Edit </a>
   &nbsp;
   <a href="{% url 'delete' booklet.id %}"> Delete </a>
   &nbsp;
   <a href="{% url 'show' booklet.id %}"> Show </a>
 
   <hr>
{% endfor %}



{% endblock %}